<form [formGroup]="rolPagoForm" (ngSubmit)="direccionForm.valid && save()">
  <div mat-dialog-content>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          {{data.rolPago.contrato.empleado.primer_nombre}} {{data.rolPago.contrato.empleado.segundo_nombre}} {{data.rolPago.contrato.empleado.primer_apellido}}
          {{data.rolPago.contrato.empleado.segundo_apellido}}
        </mat-card-title>
        <mat-card-subtitle>{{data.rolPago.contrato.cargo.sueldo}} </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
      </mat-card-content>
    </mat-card>

  </div>
</form>
