<div class="center">
  <form [formGroup]="loginForm" (ngSubmit)="loginForm.valid && login()">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Autenticar</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div formGroupName="user">
          <mat-form-field class="full-width">
            <input matInput formControlName="username" placeholder="Usuario">
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput formControlName="password" placeholder="Ingresar Clave" type="password">
          </mat-form-field>
        </div>

      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">Autenticar</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
