<div *ngIf="!message">
  <mat-form-field class="full-width">
    <input matInput required [(ngModel)]="filter" [formControl]="control" (keyup)="search()" placeholder="Seleccionar Empleado">
  </mat-form-field>
  <div class="suggestions" *ngIf="visible">
    <mat-table #table [dataSource]="dataSource">
      <ng-container matColumnDef="nombres">
        <mat-header-cell *matHeaderCellDef> Nombres </mat-header-cell>
        <mat-cell *matCellDef="let empleado"> {{empleado.primer_nombre}} {{empleado.segundo_nombre}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="apellidos">
        <mat-header-cell *matHeaderCellDef> Apellidos </mat-header-cell>
        <mat-cell *matCellDef="let empleado"> {{empleado.primer_apellido}} {{empleado.segundo_apellido}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="numero_identificacion">
        <mat-header-cell *matHeaderCellDef> Número de Identicación </mat-header-cell>
        <mat-cell *matCellDef="let empleado"> {{empleado.numero_identificacion}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="tipo_documento">
        <mat-header-cell *matHeaderCellDef> Tipo De Documento </mat-header-cell>
        <mat-cell *matCellDef="let empleado"> {{empleado.tipo_documento_identificacion}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="celular">
        <mat-header-cell *matHeaderCellDef> Número de Celular </mat-header-cell>
        <mat-cell *matCellDef="let empleado"> {{empleado.numero_celular}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="fecha_inicio">
        <mat-header-cell *matHeaderCellDef> Fecha de Inicio </mat-header-cell>
        <mat-cell *matCellDef="let empleado"> {{empleado.fecha_inicio}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="seleccionar">
        <mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="selectedRow(row,$event )" [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></mat-row>
    </mat-table>
    <mat-paginator #paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" [showFirstLastButtons]="true"
      (page)="loadPagination($event)">
    </mat-paginator>

  </div>
  <div *ngIf="message">
    <h1>{{message}}</h1>
  </div>
