<app-dashboard></app-dashboard>
<mat-sidenav-container>

  <mat-sidenav #sidenav opened="{{sidenavState | async }}">
    <mat-card>
      <mat-card-content>
        <div class="sidebar-body">

        </div>

      </mat-card-content>

    </mat-card>
  </mat-sidenav>
  <mat-sidenav-content>

    <mat-card>
      <mat-card-content>
        <div class="sidebar-body">
          <router-outlet>
          </router-outlet>
        </div>

      </mat-card-content>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>
