<mat-card>
    <mat-card-header>
    </mat-card-header>
    <mat-card-content>
      <form #contratoDetailForm="ngForm">
        <div class="form-group">
          <mat-form-field class="full-width">
            <input matInput type="date" placeholder="fecha_inicio" [(ngModel)]="contrato.fecha_inicio" name="fecha_inicio" #fecha_inicio="ngModel">
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field class="full-width">
            <input matInput type="date" placeholder="fecha_fin" [(ngModel)]="contrato.fecha_fin" name="fecha_fin" #fecha_fin="ngModel">
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field class="full-width">
            <imput matImput placeholder="estado" [(ngModel)]="contrato.estado" name="estado" #estado="ngModel"
          </mat-form-field>
          </div>
        <div class="form-group">
            <mat-checkbox [(ngModel)]="contrato.mensualizar_decimos" name="mensualizar_decimos" #mensualizar_decimos="ngModel">mensualizar_decimos</mat-checkbox>
          </div>
  
      </form>
      <mat-card-actions>
        <div class="wrapper">
          <button mat-raised-button color="primary" (click)='save()'>
            <i class="material-icons">save</i>
          </button>
          <button mat-raised-button color="primary" (click)="cancel()">
            <i class="material-icons">arrow_back</i>
          </button>
        </div>
      </mat-card-actions>
    </mat-card-content>
  
  </mat-card>