<mat-card>
    <mat-card-header>
    </mat-card-header>
    <mat-card-content>
      <div *ngIf="!message">
        <mat-table #table [dataSource]="dataSource">
          <ng-container matColumnDef="fecha_inicio">
            <mat-header-cell *matHeaderCellDef> fecha_inicio </mat-header-cell>
            <mat-cell *matCellDef="let contrato"> {{contrato.fecha_inicio}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="fecha_fin">
            <mat-header-cell *matHeaderCellDef> fecha_fin </mat-header-cell>
            <mat-cell *matCellDef="let contrato"> {{contrato.fecha_fin}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="estado">
            <mat-header-cell *matHeaderCellDef> estado </mat-header-cell>
            <mat-cell *matCellDef="let contrato"> {{contrato.estado}} </mat-cell>
          </ng-container>
            <ng-container matColumnDef="mensualizar_decimos">
            <mat-header-cell *matHeaderCellDef> mensualizar_decimos </mat-header-cell>             <mat-cell *matCellDef="let contrato"> {{contrato.mensualizar_decimos}} </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-card-actions>
          <app-tool-bar-acction [urlAdd]="urlAdd" [urlEdit]="urlEdit"></app-tool-bar-acction>
        </mat-card-actions>
      </div>
      <div *ngIf="message">
        <h1>{{message}}</h1>
      </div>
    </mat-card-content>
  
  </mat-card>
